<% include Partials/header.ejs%>
<% include Partials/main_nav.ejs%>
    <!-- Main Content -->
    <div id="indexall">
        <p id="indextext">Welcome to</p>
        <h1 id="indextitle">WatchHistory</h1>
        <br>
        <button class="btn btn-primary" onclick="window.location.href='/bookslist'"><i class="fas fa-plus-circle"></i> Get Started </button>

    </div>
<% include Partials/footer.ejs%>